@font-face {
	font-family: "CentraNo2";
	src: url("../fonts/CentraNo2-Family-Web/CentraNo2-Extrabold.woff2")
			format("woff2"),
		url("../fonts/CentraNo2-Family-Web/CentraNo2-Extrabold.woff")
			format("woff"),
		url("../fonts/CentraNo2-Family-Web/CentraNo2-Black.woff2")
			format("woof2"),
		url("../fonts/CentraNo2-Family-Web/CentraNo2-Black.woff") format("woof");
}

/* @font-face {
	font-family: "CentraNo2-secondary";
	src: url("../fonts/CentraNo2-Family-Web/CentraNo2-Bold.woff2") format("woof2"),
		 url("../fonts/CentraNo2-Family-Web/CentraNo2-Bold.woff") format("woof");
} */

body {
	font-family: "IBM Plex Sans", sans-serif;
	background-color: #3a3a3c;
}

.header {
	position: relative;
}

.shelby__bg-img {
	width: 100%;
	z-index: -1;
}

.shelby__signup {
	margin: 85px 0 85px 96px;
	width: 535px;
	height: 100%;
	position: absolute;
	top: 0;
}

.shelby__signup-header {
	margin-bottom: 2rem;
}

h1 {
	color: #ffffff;
	font-family: CentraNo2;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	font-size: 6rem;
	letter-spacing: -4px;
	margin: 0;
}

.shelby__signup h1 {
	line-height: 77.76px;
	margin-bottom: 1rem;
}

.shelby__signup p {
	color: #ffffff;
	font-size: 18px;
}

.shelby__signup strong {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

.shelby__signup-form p {
	color: #c9c9c9;
	margin-bottom: 16px;
	font-size: 1.2rem;
}

.shelby__signup-form form {
	display: flex;
	flex-direction: column;
	border: 1px solid #c9c9c9;
	border-radius: 8px;
	margin-bottom: 32px;
}

.shelby__signup-form input {
	height: 74px;
	background-color: transparent;
	border: none;
	padding: 24px;
	color: #ffffff;
}

.shelby__signup-form input:nth-child(2) {
	height: 74px;
	background-color: transparent;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
}

.shelby__signup-form input:focus {
	outline: none;
}

.shelby__signup-button {
	background-color: #ffffff;
	border: none;
	border-radius: 4px;
	height: 74px;
	width: 100%;
	font-family: CentraNo2;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 32px;
}

.shelby__follow-us {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.shelby__follow-us p {
	font-size: 1.2rem;
	margin: 0;
	padding: 8px;
}

.shelby__second-frame {
	position: relative;
}

.shelby__second-frame img {
	width: 100%;
	height: 100%;
}

.shelby__second-frame-text {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	width: 597px;
	padding: 10px;
	margin: 0 0 84px 86px;
}

.shelby__second-frame-text p {
	font-size: 22px;
	margin: 0;
}

.shelby__second-frame-text h1 {
	line-height: 81px;
}

.shelby__third-frame {
	position: relative;
}

.shelby__third-frame img {
	width: 100%;
	height: 100%;
}

.shelby__third-frame-text {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	width: 432px;
	padding: 10px;
	margin: 0 0 204px 86px;
}

.shelby__third-frame-text h1 {
	line-height: 77.76px;
}

.shelby__third-frame-text p {
	font-size: 22px;
	margin: 0;
}

.shelby__fourth-frame {
	position: relative;
	background-color: #303031;
	height: 672px;
}

.shelby__fourth-frame img {
	width: 912px;
	height: auto;
}

.shelby__fourth-frame-text {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	right: 0;
	width: 718px;
	margin: 0 96px 90px 0;
}

.shelby__fourth-frame-text h1 {
	line-height: 77.76px;
}

.shelby__fourth-frame-text p {
	font-size: 22px;
	margin: 0;
}

.shelby__fifth-frame {
	position: relative;
	height: 672px;
}

.shelby__fifth-frame img {
	position: absolute;
	width: 912px;
	height: auto;
	right: 0;
}

.shelby__fifth-frame-text {
	position: absolute;
	color: #ffffff;
	bottom: 0;
	left: 0;
	width: 655px;
	margin: 0 0 52px 90px;
}

.shelby__fifth-frame-text h1 {
	line-height: 77.76px;
}

footer {
	height: 140px;
	padding: 32px 96px 83px;
	color: #ffffff;
}

.shelby__footer-text {
	display: flex;
	justify-content: space-between;
}


@media (max-width: 1024px) {
	
}